/* --------------- MODALS ---------------*/
.modal {
    font-size: 12px;
}

.modal>.content {
    width: 100%;
}

.modal>.actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}

.close{
    cursor: pointer;
    width: 80px;
    height: 25px;
    background-color: #d5483a ;
    color: aliceblue;
    border-radius: 20px;
    font-size: 1.2em;
}

.close:active{ 
    animation: press .5s;
}

.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, .3);
    display: grid;
    place-items: center;
    transition: .5s;
    z-index: 100;
    animation: pushUp .5s;
}

.modal__card {
    width: 600px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.modal__card.active{
    transition: .5s;
    animation: pushUp .5s;
}

.modal__card.deActive{
    animation: pushDown .5s;
}

.modal__img{
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-size: cover;
}

.modal__img img {
width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.description__flex{
    position: relative;
}

.description__title{
    color: #419166;
    text-transform: uppercase;
    padding: 20px 10px;
    font-size: 1.3em;
}

.description__detail{
    color: rgba(61, 61, 61, 0.671);
    padding-left: 20px;
}

.description__price{
    position: absolute;
    top: 15px;
    right: 20px;
    height: 30px;
    font-weight: 700;
    background-color: #d5483a;
    padding: 5px 10px 5px 5px;
    border-radius: 0px 20px 20px 0px;
    color: antiquewhite;
}


@keyframes pushUp {
    from {
        transform: translateY(110vh) scale(.5);
    }

    to {
        transform: translateY(0) scale(1);
    }
}

@keyframes pushDown {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(110vh) scale(.5);
    }
}


@keyframes press {
    from{
        scale: .95;
    }
    to {
        scale: 1.1;
    }
}
