.targetaCart {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.espaciadoCart {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 20px;
    padding-left: 10px;
}

.inicio {
    width: 70%;
}

.final{
    width: 30%;
    text-align: center;
    font-weight: 700;
}

.cantidad {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}

.textoCartItem{
    color: rgba(48, 48, 48, 0.658);
}

.buttonRemove{
    color: #d5473a;
}

@media screen and (max-width: 700px) {
    .cantidad { 
        width: 95%;
    }
}