.text {
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.card {
    border: 1px rgba(39, 39, 39, 0.5) solid;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card__flex {
    display: block;
    padding: 20px 0px;
    text-align: center;
    width: 150px;
}

.card__title {
    margin-bottom: 10px;
    font-size: 13px;
    letter-spacing: .05em;
}

.card__precio {
    color: rgba(71, 71, 71, 0.842);
}

.card__img img {
    margin: 10px;
    width: 80px;
    height: 80px;
    border-radius: 15px;
}