.flexApp {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  background-color: #fffae4;
}

.flexCategories {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.categories {
  justify-content: center;
}

@media screen and (max-width:750px) {
  .flexApp{
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .flexCategories{
    width: 100%;
  }
}