@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
    margin: 0;
    padding: 0;
    touch-action: manipulation;
}


*,
::before,
::after {
    border-width: 0px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100&family=Montserrat:ital,wght@0,300;0,500;1,500&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&family=Satisfy&display=swap');

@font-face {
    font-family: daniel;
    src: url(../../public/fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: australiaCustom;
    src: url(../../public/fonts/Australia\ Custom.ttf);
}

/* --------------------- HEADER ---------------------------------- */

body {
    background-color: #fffae4;
    max-width: 1000px;
    margin: auto;
}

header {
    margin-bottom: 2em;
}

.imgHeader {
    background-color: rgb(0, 181, 216);
    background-image: url(../../public//assets/piza.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 6rem;
    min-height: 6rem;
    width: 100%;
    z-index: 1;
}

.marcoLogo {
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0px -10px 8px rgb(0 0 0 / 35%);
    z-index: 2;
    position: relative;
    background-color: #fffae4;
}

.lineaRojaHeader {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 100%;
    height: 6px;
    background-color: #d5483a;
    overflow: hidden;
}

.lineaRojaHeader2 {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #d5483a;
}

.fondoInfo {
    background-color: antiquewhite;
    padding: 0px 20px;
}

.marcoLogo__descripcion {
    display: grid;
    grid-template-areas:
        "avatar links"
        "informacion informacion";
    grid-template-columns: auto;
    width: 100%;
}

.imgLogo {
    background-color: #fffae4;
    background-image: url("../../public/assets/Logo\ MIAPIZZA.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: #fffae4 0px 0px 0px 6px;
    grid-area: avatar / avatar / avatar / avatar;
    height: 6rem;
    margin-top: -1.5rem;
    min-height: 6rem;
    min-width: 6rem;
    width: 6rem;
}

.imgIndex {
    z-index: 100;
}

.tituloEinformacion {
    display: flex;
    flex-direction: column;
    grid-area: informacion / informacion / informacion / informacion;
    margin-top: .25rem;
}

.titulo {
    font-family: australiaCustom;
    font-size: 2rem;
    font-weight: 900;
    line-height: normal;
    color: #d5483a;
    padding-bottom: 15px;
}

.descripcion {
    font-family: 'Nunito', sans-serif;
    color: #419166;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.625;
    margin: 0px;
}

.links {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 500;
}

@media screen and (max-width:750px) {
    .links {
        position: fixed;
        top: 10px;
        width: 120px;
        height: 10px;
    }
}

.link {
    cursor: pointer;
    text-decoration: none;
    display: grid;
    place-content: center;
}

.link__title {
    color: #d5483a;
    font-size: 1.3em;
    background-color: #fffae4;
    border-radius: 20px;
}

.boton {
    -webkit-box-align: center;
    align-items: center;
    appearance: none;
    background-color: rgb(0, 216, 18);
    border-radius: 50%;
    border-color: rgb(0, 213, 255);
    color: rgb(255, 255, 255);
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    height: 50px;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.2;
    outline: none;
    position: relative;
    transition: all 250ms ease 0s;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 50px;
    min-width: auto;
    min-height: auto;
    padding: 6px;
}

button,
input,
optgroup,
select,
textarea {
    padding: 0px;
    line-height: inherit;
    color: inherit;
}

button,
[role="button"] {
    cursor: pointer;
}

button {
    background: transparent;
    padding: 0px;
}

button,
select {
    text-transform: none;
}

button,
input {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

.iconoLink {
    fill: currentcolor;
    color: currentcolor;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

/* --------------------- MAIN ---------------------------------- */

main {
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.pizza {
    background-image: url(../../public/assets/piza.jpg);
    z-index: 5;
}

.empanada {
    background-image: url(../../public/assets/3_1523297076_a208d.jpg);
    z-index: 5;
}

.combo {
    background-image: url(../../public/assets/1576625928_1636234.jpg);
    z-index: 5;
}

.material-icons {
    font-size: 18px;
}


@media screen and (max-width:750px) {
    .links {
        bottom: 5px;
        right: 5px;
        z-index: 1000;
    }

    .descripcion{
        font-size: 1em;
    }
}